{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "semi": ["error", "never"],
        "comma-dangle": ["error", "never"],
        "max-len": ["error", 120],
        "no-console": "off",
        "object-shorthand": ["error", "methods", { "avoidExplicitReturnArrows": true } ],
        "arrow-parens": ["error", "as-needed"]
    },
    "env": {
        "node": true,
        "jest": true
    }
}
